{% extends "base.html" %}{% load i18n static %}

{% block header %}
    {% include "includes/navbar.html" with active='photos' %}
{% endblock %}

{% block content %}
    <div class="photos container">
        <div class="row">
            {% for photo in photos %}
                <div class="col-sm">
                    <a href="{% url 'photos:detail' pk=photo.id %}" class="photos__card card">
                        <img src="{{ photo.picture.url }}" class="photos__img card-img-top" alt="{{ photo.title }}">
                        <div class="card-body">
                            <h4 class="photos__title card-title">{{ photo.title }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ photo.date_added }}</h6>
                            <p class="photos__location card-text">{{ photo.location }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}