.nav {
  padding: 1em;
  z-index: 1;
}

.nav-link {
  color: #000;

  &.active {
    text-decoration: underline;
  }
}

.landing {
  .nav-link {
    color: white;
  }
}

.navbar {
  background: $white;
  display: -webkit-box;
}