.nav {
  padding: 1em;
  z-index: 1;

  @include xs-screen {
    padding: 1em 0;
  }
}

.nav-link {
  color: #000;

  &.active {
    text-decoration: underline;
  }
}

.landing {
  .nav-link {
    color: white;
  }
}

.navbar {
  background: $white;
  display: -webkit-box;
}

.landing {
  .navbar {
    background: transparent;
    display: flex;
  }
}