{% load i18n static %} <!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Gallery{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/print.css' %}" media="print" rel="stylesheet"/>
    {% block extra_css %}{% endblock %}
    <link rel="shortcut icon" href="">
</head>

<body class="{% block body-class %}{% endblock %}">

{% block header %}
    {% include "includes/navbar.html" with active="home" %}
{% endblock %}

<main>
    {% block content %}
        Test demo page for Django boilerplate
    {% endblock %}
</main>

{% block footer %}
    <footer class="footer">
        {% include 'includes/footer.html' %}
    </footer>
{% endblock %}

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
