{% extends "base.html" %}{% load i18n staticfiles %}

{% block header %}
    {% include "includes/navbar.html" with active='home' %}
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{% trans "Welcome to Photo Gallery" %}</h1>
            <p class="lead">
                {% blocktrans %}

                {% endblocktrans %}
            </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
{% endblock %}
