.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;

  &__checkbox {
    margin-left: 1em;
  }

  &__no-account {
    margin: 1em auto;
  }
}

.password-reset {
  width: 100%;

  &__header {
    margin: 1em auto;
    text-align: center;
  }
}

.password-change {
  justify-content: center;
}

.sign-out {
  justify-content: center;
  margin-top: 2em;
}

.button {
  display: block;
}

.btn {

  &__sign-in {
    margin-top: 1em;
  }
}