.photo {

  &__img {
    max-width: 100%;
  }

  &__date {
    font-size: 12px;
    color: #717171;
    margin-bottom: 0.5em;
  }

  &__description {
    text-align: justify;
    font-size: 14px;
    margin: 1em 0;
  }

  &__title {
    line-height: 2;
  }
}