.profile {
  max-width: 700px;
  background: $white;
  padding: 2em;
  margin: 2em auto;

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    text-align: center;
    margin-bottom: 2em;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  &__col {
    line-height: 2;

    &--top {
      text-transform: uppercase;
      color: $dark-grey;
      font-size: 12px;
    }

    &--bottom {
      font-size: 16px;
    }
  }

  &__buttons {
    margin-top: 2em;
  }

  .control-label {
    color: $dark-grey;
    font-size: 12px;
    text-transform: uppercase;
  }
}