{% load i18n static %}
<div class="navbar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link {% if active == 'home' %}active{% endif %}" href="/">{% trans "Home" %}</a>
        </li>
    </ul>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link {% if active == 'photos' %}active{% endif %}" href="{% url 'photos:list' %}">
                {% trans "Photos" %}
            </a>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'profile' %}active{% endif %}" href="{% url "accounts:detail" pk=user.pk %}">
                    {% trans "Profile" %}
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'signup' %}active{% endif %}" href="{% url 'account_signup' %}">
                    {% trans "Sign up" %}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if active == 'login' %}active{% endif %}" href="{% url 'account_login' %}">
                    {% trans "Login" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>