{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="password-reset col-xs-12">
                <h1 class="password-reset__header">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_email">{% trans "E-mail" %}:</label>
                        <input type="email" name="email"
                               placeholder="{% trans "E-mail address" %}" id="id_email"
                               required="" size="30" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-secondary" value="{% trans 'Reset My Password' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
