{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="password-reset col-xs-12">
                <h1 class="password-reset__header">{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_password1">{% trans "New Password" %}:</label>
                        <input type="password" name="password1"
                               placeholder="{% trans "New Password" %}" required=""
                               id="id_password1"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="id_password2">{% trans "New Password (again)" %}:</label>
                        <input type="password" name="password2"
                               placeholder="{% trans "New Password (again)" %}" required=""
                               id="id_password2"
                               class="form-control">
                    </div>

                    <button type="submit" class="btn btn-secondary" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
